<div class="main">
    <div class="left">
        <img src="/assets/images/logo/logo.png">
    </div>
    <div class="middle">
        <div>
            <a routerLink="/Accueil">
                <h6>Accueil</h6>
            </a>
        </div>
        <div class="vertical-line"></div>
        <div>
            <a routerLink="/Voiture">
                <h6>Nos véhicules</h6>
            </a>
        </div>
        <div class="vertical-line"></div>
        <div>
            <a routerLink="/Faq">
                <h6>Faq</h6>
            </a>
        </div>
        <div class="vertical-line"></div>
        <div>
            <a routerLink="/Apropos">
                <h6>A propos</h6>
            </a>
        </div>
        <div class="vertical-line"></div>
        <div>
            <a routerLink="/Temoignages">
                <h6>Témoignages</h6>
            </a>
        </div>
        <div class="vertical-line"></div>
        <div>
            <a routerLink="/Contact">
                <h6>Contact</h6>
            </a>
        </div>
    </div>
    <div class="right">
        <div>
            <a routerLink="/SignIn">
                <h6>Espace client</h6>
            </a>
        </div>
    </div>
</div>