<div class="main">
  <div class="top">
    <div>
      <h6>
        <img src="assets/images/reservation/icone/ico-check.png" alt="Check"> Choisissez votre véhicule
      </h6>
    </div>
    <div>
      <h6>
        <img src="assets/images/reservation/icone/ico-check.png" alt="Check"> Saisissez vos coordonnées & options
      </h6>
    </div>
    <div>
      <h6>
        <img src="assets/images/reservation/icone/ico-check-disabled.png" alt="Check disabled"> Terminé!
      </h6>
    </div>
  </div>

  <div class="bottom">
    <div class="left">
      <h5>Informations relatives au conducteur</h5>

      <form [formGroup]="reservationForm" (ngSubmit)="createReservation()">
        <table>
          <tr>
            <td>Marque voiture :</td>
            <td>{{ voiture?.marque }}</td>
          </tr>
          <tr>
            <td>Immatriculation :</td>
            <td>{{ voiture?.immatriculation }}</td>
          </tr>
          <tr>
            <td>Lieu :</td>
            <td><input type="text" formControlName="Lieu" required></td>
          </tr>
          <tr>
            <td>Message :</td>
            <td><input type="text" formControlName="Message" required></td>
          </tr>
          <tr>
            <td>Date de début de location :</td>
            <td><input type="date" formControlName="dateDebut" required></td>
          </tr>
          <tr>
            <td>Date fin de location :</td>
            <td><input type="date" formControlName="dateFin" required></td>
          </tr>
        </table>
        <p>
          <input type="checkbox" formControlName="conditionsGenerales" class="custom-checkbox">
          Je déclare avoir lu et accepté les conditions générales de vente et d'utilisation
        </p>

        <p>
          <input type="checkbox" formControlName="conditionsAnnulation" class="custom-checkbox">
          Je déclare avoir lu et accepté les conditions d'annulation et de modification
        </p>

        <div class="button">
          <button class="btn-Retour" routerLink="/Voiture">Retour</button>
          <button type="submit" class="btn-valider" [disabled]="!reservationForm.valid"
            [routerLink]="['/Reservation/etape3']">
            Envoyer ma demande de réservation
          </button>
        </div>
      </form>
      <img src="assets/images/reservation/icone/facture.jpg" alt="Facture" class="facture">
    </div>

    <div class="right">
      <div class="right-top">
        <div class="description">
          <div class="nomvoiture">
            {{ voiture?.marque }}
          </div>
          <div class="categorievoiture">
            {{ voiture?.categorie }}
          </div>
        </div>
        <img *ngIf="voiture?.photoVoiture" [src]="voiture.photoVoiture" alt="{{ voiture.nomPhotoVoiture }}"
          class="imagevoiture" />
      </div>

      <div class="right-bottom">
        <div class="caracteristique2">
          <p>Prix par jour : {{ voiture?.prix }} TND</p>
          <h6>Détail du tarif :</h6>
          <p>TVA / Taxes locales (18%) Assurances de base (RC, Incendie) Surcharge aéroport : Gare KM illimité</p>
          <button type="button" class="custom-popover" data-bs-toggle="popover" title="RC, Vol, incendie"
            data-bs-placement="bottom">
            <p class="assurances">Assurances aux tiers</p>
          </button>
          <p>Total location ({{ numberOfDays !== null ? numberOfDays + ' jours' : 'N/A' }}) {{ totalPrice !== null ?
            totalPrice.toFixed(2) : 'N/A' }} TND</p>
          <p>Options 0.00 TND</p>
        </div>

        <div class="montant">
          <div>
            <p>Montant total</p>
          </div>
          <div>
            <p>{{ totalPrice !== null ? totalPrice.toFixed(2) : 'N/A' }} TND</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>