/* ************************************************************************** main ************************************************************************** */
.main {
    width: 100%;
}

/* ************************************************************************** top ************************************************************************** */
.top {
    display: flex;
    height: 84px;
    background-color: rgb(107, 145, 0);
    justify-content: space-evenly;
    align-items: center;
    padding: 0 150px;
}

.top h6 {
    color: white;
}

img {
    padding-right: 15px;
}

/* ************************************************************************** bottom ************************************************************************** */
.bottom {
    display: flex;
    margin: 30px 250px;
}

/* ************************************************************************** left ************************************************************************** */
.left {
    width: 70%;
    padding: 20px;
    border: 2px solid #e1e1e1;
    margin-right: 20px;
}

.custom-checkbox {
    margin-right: 10px;
    position: relative;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff;
    border: 2px solid #c21515;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.custom-checkbox:checked {
    background-color: #4caf50;
    border-color: #4caf50;
}

.custom-checkbox:checked::before {
    content: "";
    position: absolute;
    left: 5px;
    top: 3px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.button {
    display: flex;
    justify-content: space-between;
}

.btn-Retour {
    background-color: rgb(225, 225, 225);
    border: none;
    border-radius: 20px;
    padding: 8px;
}


/* Style par défaut du bouton */
.btn-valider {
    background-color: rgb(107, 145, 0);/* Couleur de fond par défaut */
    color: white; /* Couleur du texte */
    border: none; /* Bordure par défaut */
    padding: 10px 20px; /* Espacement interne */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur en forme de main */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s; /* Transition douce pour les changements de couleur */
  }
  
  /* Style pour le bouton désactivé */
  .btn-valider:disabled {
    background-color: #98eab7; /* Couleur de fond lorsqu'il est désactivé */
    color: #a0a0a0; /* Couleur du texte lorsqu'il est désactivé */
    cursor: not-allowed; /* Curseur pour indiquer que le bouton est désactivé */
    opacity: 0.7; /* Opacité réduite pour un effet visuel de désactivation */
  }
  
.facture{
    height: 220px;
    object-fit: cover;
    display: flex;
    padding: 0% 30%;
}
/* ************************************************************************** right ************************************************************************** */
.right {
    width: 30%;
    border: 2px solid #e1e1e1;
    margin-left: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.right-top {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    height: 40px;
}

.nomvoiture {
    color: white;
    background-color: #212529;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categorievoiture {
    background-color: rgb(255, 179, 0);
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagevoiture {
    width: 100%;
    padding: 0;
    object-fit: cover;
}

.right-bottom {
    padding:20px;
    width: 100%;
    margin: 0px;
}

.caracteristique1 {
    display: flex;
    margin: 5px 0px;
    justify-content: space-evenly
}

.caracteristique1 button {
    background-color: transparent;
    border: none;
}

.caracteristique1 img {
    padding: 0px;
}

.caracteristique button {
    background-color: transparent;
    border: none;
}

.assurances {
    font-size: 14px;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.caracteristique2 button {
    background-color: #f36a01;
    color: white;
    border: none;
}

.right-bottom p {
    margin-bottom: 6px;
}

.montant {
    display: flex;
    background-color: #212529;
    padding: 16px;
    justify-content: space-between;
}

.montant p{
 color: white;
}