<app-nav-bar></app-nav-bar>
<div class="container mt-5">
  <div class="card">
    <div class="card-header text-white">
      <h3>Confirmation de la Réservation</h3>
    </div>
    <div class="card-body">
      <p>Merci pour votre réservation ! Voici les détails de votre demande :</p>
      <div class="row">
        <div class="col-md-6">
          <h5>Détails du véhicule</h5>
          <p><strong>Modèle:</strong> {{ reservationDetails?.voiture?.marque || 'Non spécifié' }}</p>
          <p><strong>Prix par jour:</strong> {{ reservationDetails?.voiture?.prix || 'Non spécifié' }} TND</p>
          <p><strong>Durée:</strong> {{ numberOfDays || 0 }} jours</p>
          <p><strong>Prix total:</strong> {{ totalPrice || 'Non spécifié' }} TND</p>
        </div>
        <div class="col-md-6">
          <h5>Informations du conducteur</h5>
          <p><strong>Nom:</strong> {{ reservationDetails?.client?.nom || 'Non spécifié' }}, {{
            reservationDetails?.client?.prenom || 'Non spécifié' }}</p>
          <p><strong>Email:</strong> {{ reservationDetails?.client?.email || 'Non spécifié' }}</p>
          <p><strong>Numéro de Téléphone:</strong> {{ reservationDetails?.client?.telephone || 'Non spécifié' }}</p>
        </div>
      </div>
      <div class="mt-4">
        <button class="btn btn-primary" (click)="goToHomePage()">Retour à l'accueil</button>
      </div>
    </div>
  </div>
</div>