<div class="header bg-green text-white py-3">
    <div class="row">
      <div class="col-md-4">
        <label for="pickupLocation">Lieu de prise en charge</label>
        <input id="pickupLocation" class="form-control" type="text" placeholder="Aéroport Tunis Carthage">
      </div>
      <div class="col-md-4">
        <label for="pickupDate">Date et Heure de Prise</label>
        <input id="pickupDate" class="form-control" type="datetime-local" value="2024-07-20T13:05">
      </div>
      <div class="col-md-4">
        <label for="returnDate">Date et Heure de Retour</label>
        <input id="returnDate" class="form-control" type="datetime-local" value="2024-07-22T13:05">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 text-right">
        <button class="btn btn-warning">Devis et Réservation</button>
      </div>
    </div>
  </div>
  