<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col py-3">
            <h1 class="h2">Gestion des Contacts</h1>
            <div class="main-content">
                <button type="button" class="btn btn-success">Ajouter contact</button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Numéro</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Message</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contact of contacts; let i=index">
                            <td>{{ i+1 }}</td>
                            <td>{{ contact.client.nom }}</td>
                            <td>{{ contact.email }}</td>
                            <td>{{ contact.message }}</td>
                            <td>
                                <!-- Bouton Consulter -->
                                <button type="button" class="btn btn-primary" (click)="openConsultModal(contact)" [disabled]="isDeleteModalOpen">
                                    Consulter
                                </button>
                                <!-- Bouton Supprimer avec modal -->
                                <button type="button" class="btn btn-danger" (click)="openDeleteModal(contact)" [disabled]="isConsultModalOpen">
                                    Supprimer
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Consulter -->
<div *ngIf="selectedContact && isConsultModalOpen" class="modal fade show" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Consulter contact</h1>
                <button type="button" class="btn-close" (click)="closeConsultModal()"></button>
            </div>
            <div class="modal-body">
                <!-- <h4>{{ selectedContact.client.nom }}, {{ selectedContact.client.prenom }}</h4> -->
                <h6>{{ selectedContact.email }}</h6>
                <h6>{{ selectedContact.message }}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="closeConsultModal()">Fermer</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Supprimer -->
<div class="modal fade" id="staticBackdropsupprimer" tabindex="-1" aria-labelledby="staticBackdropsupprimerLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropsupprimerLabel">Supprimer contact</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6>Numéro : {{ selectedContact?.id }}</h6>
                <h6>{{ selectedContact?.message }}</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteContact(selectedContact?.id)">Supprimer</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeDeleteModal()">Fermer</button>
            </div>
        </div>
    </div>
</div>
