.main {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   

}

.login {
    width: 100%;
    height: 60vh;
    display: flex;
    margin: 200px;
    box-shadow: 5px 5px 5px #888888;
}

/* ****************************** signin ****************************** */
.signin {
    background-color: blanchedalmond;
    padding: 30px;
    width: 40%;
    background-image: url("/assets/images/login/right.jpg");
    background-size: cover;
    padding: 30px;
}

.signin button {
    background-color: #f36a01;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 6px;
    margin-top: 25px;
    margin-left: 35%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

h2 {
    color: #f36a01;
    margin-left: 15%;
}

h5 {
    color: white;
    margin: 0px 5%;
    text-align: center;
}

/* ****************************** signup ****************************** */
.signup {
    background-color: blanchedalmond;
    width: 60%;
    
    padding: 30px;
}
.signupform{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.signupbutton button {
    background-color: #f36a01;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    width: 20%;
    margin-top: 25px;
    margin-left: 40%;
}

.input-group-sm .form-control,
.input-group-sm .input-group-text {
  height: 2.5rem; /* Adjust to your desired height */
  font-size: 0.875rem; /* Adjust font size if needed */
}