<div class="main">
    <div class="top">
        <div class="col-md-3">
            <label for="pickupLocation">Lieu de prise en charge</label>
            <input id="pickupLocation" class="form-control" type="text" placeholder="Aéroport Tunis Carthage">
        </div>
        <div class="col-md-3">
            <label for="pickupDate">Date et Heure de Prise</label>
            <input id="pickupDate" class="form-control" type="datetime-local" value="2024-07-20T13:05">
        </div>
        <div class="col-md-3">
            <label for="returnDate">Date et Heure de Retour</label>
            <input id="returnDate" class="form-control" type="datetime-local" value="2024-07-22T13:05">
        </div>
        <div class="row mt-3">
            <div class="col-md-12 text-right">
                <button class="btn btn-warning" routerLink="/Reservation">Devis et Réservation</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="bottom">
        <div class="info-details">
            <div><img src="/assets/images/accueil/logoReservation/check.png"></div>
            <div>
                <h5>Assistance 24h/24</h5>
            </div>
        </div>
        <div class="info-details">
            <div><img src="/assets/images/accueil/logoReservation/check.png"></div>
            <div>
                <h5>RentNGo, agence fondée en 2020</h5>
            </div>
        </div>
        <div class="info-details">
            <div><img src="/assets/images/accueil/logoReservation/check.png"></div>
            <div>
                <h5>Une icône de la location voiture Tunisie!</h5>
            </div>
        </div>
    </div>
</div>