<footer class="main">
    
    <div class="left">
        <div>
            <img src="/assets/images/logo/logo.png">
        </div>
        <div>
            <h6>Suivez-nous</h6>
        </div>
    </div>
    <div class="right">
        <div>
            <h6>L'agence RentNGo loue des voitures sur plusieurs villes tunisiennes comme Tunis (Centre ville,
                Gammarth, La Marsa, Megrine), Bizetre, Hammamet, Nabeul, Enfidha, Zaghouan, Sousse, Monastir, Sfax,
                Djerba,
                Tozeur... . Réservation simple et rapide, un devis immédiat et surtout pas de publicité mensongère
                confirmation
                au bout de cinq minutes, une voiture sera à votre disposition en arrivant à l'aéroport en Tunisie.</h6>
        </div>
        <div>
            <h6>©2024 RentNGo S.A.R.L Tous droits réservés.</h6>
        </div>
    </div>
</footer>