.main{
    /* position: fixed;*/
    bottom: 0; 
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;
    padding: 0px 200px;
}
.right{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 100px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 100px;
}
img{
    width: 130px;
    height: 100px;
    object-fit: contain;
}
h6{
    color: white;
    font-size: 14px;
    line-height: 1.5;
    text-align: start;
}