<form [formGroup]="signinform" (ngSubmit)="onSubmit()">
  <div class="main">
    <div class="login">
      <div class="signup">
        <h2>Bienvenue à RentGo</h2>
        <h5>Connectez-vous pour accéder à votre compte.</h5>
        <button type="button" routerLink="/SignUp">S’inscrire</button>
      </div>
      <div class="signin">
        <div class="mb-3">
          <label for="email" class="form-label">Adresse email</label><br>
          <input type="email" formControlName="email" class="form-control" id="email" required>
          <small *ngIf="signinform.controls['email'].errors && signinform.controls['email'].touched"
            class="text-danger">
            {{ getErrorsMessage('Email', signinform.controls['email'].errors) }}</small>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label><br>
          <input type="password" formControlName="motDePasse" class="form-control" id="password">
          <small *ngIf="signinform.controls['motDePasse'].errors && signinform.controls['motDePasse'].touched"
            class="text-danger">
            {{ getErrorsMessage('Mot de passe', signinform.controls['motDePasse'].errors) }}</small>
        </div>
        <button type="submit">Se connecter</button>
      </div>
    </div>
  </div>
</form>