<form [formGroup]="signinform" novalidate>
  <div class="main">
    <div class="login">
      <div class="signup">
        <h2>Bienvenue à RentGo</h2>
        <h5>Créez votre compte RentNGo en quelques étapes simples pour une réservation plus rapide et profitez d’une
          expérience de location de voiture agréable !</h5>
        <button routerLink="/SignUp">S’inscrire</button>
      </div>
      <div class="signin">
        <div class="mb-3">
          <label for="exampleInputmail" class="form-label">Email address</label><br>
          <input type="text" formControlName="mail" class="form-control" id="exampleInputmail" required>
          <small *ngIf="signinform.controls['mail'].errors && signinform.controls['mail'].touched" class="text-danger">
            {{getErrorsMessage('mail', signinform.controls['mail'].errors)}}</small>
        </div>
        <div class="mb-3">
          <label for="exampleInputpassword" class="form-label">Password</label><br>
          <input type="password" formControlName="password" class="form-control" id="exampleInputpassword">
          <small *ngIf="signinform.controls['password'].errors && signinform.controls['password'].touched"
            class="text-danger">
            {{getErrorsMessage('password', signinform.controls['password'].errors)}}</small>
        </div>
        <button type="submit" routerLink="/Accueil">Se connecter</button>
      </div>
    </div>
  </div>
</form>