<app-nav-bar></app-nav-bar>
<div class="main">
    <div class="title">
        <h3>Témoignages Clients</h3>
    </div>
    <div class="top">
        <button 
            *ngFor="let year of [2024, 2023, 2022, 2021, 2020, 2019]" 
            [class.active]="year === activeYear" 
            (click)="setActiveYear(year)">
            Témoignages {{ year }}
        </button>
    </div>
    <div class="buttom">
        <div class="card" *ngIf="activeYear === 2024">
            <div class="left-card">
                <img src="/assets/images/temoignages/user.png">
            </div>
            <div class="right-card">
                <div class="right-card-top">
                    <h5>sghaier (18/07/2024) 5/5</h5>
                </div>
                <div class="right-card-buttom">
                    <p>Honnêtement, j'apprécie la livraison de la voiture à l'endroit exact, cela m'a rendu la tâche très facile</p>
                </div>
            </div>
        </div>
        <!-- Add more cards here as needed -->
    </div>
</div>
<app-footer></app-footer>
