.bg-yellow {
    background-color: #FFC107;
  }
  
  .text-orange {
    color: #FF5722;
  }
  .bg-warning {
    background-color: #7A9901 !important;
  }
  
  .info-bar span {
    color: #fff;
  }
  
  .info-bar i.bi {
    margin-right: 0.5rem;
  }
  
/*   .info-bar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-weight: bold;
  } */
  .promotions {
    text-align: center;
  }
  .card {
    margin: 20px 0;
  }
  
  .card-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1.1em;
    color: #333;
  }
  
  .btn-danger {
    background-color: #FF0000;
    border: none;
  }
  
  .carousel-item {
    display: flex;
    justify-content: center;
  }
  