
<div class="info-bar bg-warning text-center py-2">
    <span class="d-inline-block mx-3"><i class="bi bi-life-preserver"></i> Assistance 24h/24</span>
    <span class="d-inline-block mx-3"><i class="bi bi-building"></i> MAMICAR, agence fondée en 2007</span>
    <span class="d-inline-block mx-3"><i class="bi bi-car-front"></i> Une icône de la location voiture Tunisie!</span>
  </div>
  
  <div class="promotions py-4">
    <h2 class="text-orange">Nos promotions de locations de voitures en Tunisie</h2>
    <p>Profitez de nos meilleures offres de location voiture Tunisie chez MAMICAR, un des leaders de loueurs de voitures en Tunisie</p>
  <div id="carPromotionsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
                <img src="assets/images/accueil/cars/car1.jpg" class="card-img-top" alt="Toyota C-HR BVA 2024">
              <div class="card-body">
                <h5 class="card-title">Toyota C-HR BVA 2024</h5>
                <p class="card-text">220.00 TND TTC/Jour*</p>
                <button class="btn btn-danger">Réserver</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <img src="assets/images/accueil/cars/car1.jpg" class="card-img-top" alt="Seat Ibiza Style 2024">
              <div class="card-body">
                <h5 class="card-title">Seat Ibiza Style 2024</h5>
                <p class="card-text">140.00 TND TTC/Jour*</p>
                <button class="btn btn-danger">Réserver</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
                <img src="assets/images/accueil/cars/car1.jpg" class="card-img-top" alt="Volkswagen Virtus BVA 2024">
              <div class="card-body">
                <h5 class="card-title">Volkswagen Virtus BVA 2024</h5>
                <p class="card-text">150.00 TND TTC/Jour*</p>
                <button class="btn btn-danger">Réserver</button>
              </div>
            </div>
          </div>
          
          </div>
        </div>
        
      </div>
      <!-- Add more carousel-item divs here for more items -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carPromotionsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carPromotionsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  