 <!-- Products and Services Section -->
    <!-- <div class="products-services-section my-4">
        <h2 class="text-center">Nos Produits et services</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="assets/images/cars/car1.jpg" class="card-img-top" alt="Service Image 1">
              <div class="card-body">
                <h5 class="card-title">Service 1</h5>
                <p class="card-text">Description du service.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="assets/images/cars/car1.jpg" class="card-img-top" alt="Service Image 2">
              <div class="card-body">
                <h5 class="card-title">Service 2</h5>
                <p class="card-text">Description du service.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="assets/images/cars/car1.jpg" class="card-img-top" alt="Service Image 3">
              <div class="card-body">
                <h5 class="card-title">Service 3</h5>
                <p class="card-text">Description du service.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     -->
     <div class="promotions py-4">
        <h2 class="text-orange">Nos promotions de locations de voitures en Tunisie</h2>
        <p>Profitez de nos meilleures offres de location voiture Tunisie chez MAMICAR, un des leaders de loueurs de voitures en Tunisie</p>
     <div id="productsServicesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                    <img src="assets/images/cars/car1.jpg" class="card-img-top" alt="Location voiture avec chauffeur">
                  <div class="card-body">
                    <h5 class="card-title">Location voiture avec chauffeur</h5>
                    <p class="card-text">Location voiture avec chauffeur à disposition 150 TND/Jour.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                    <img src="assets/images/cars/car1.jpg" class="card-img-top" alt="GPS">
                  <div class="card-body">
                    <h5 class="card-title">GPS</h5>
                    <p class="card-text">Trouver facilement votre destination sans perte de temps 2 TND/Jour.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                    <img src="assets/images/cars/car1.jpg" class="card-img-top" alt="Siège Bébé">
                  <div class="card-body">
                    <h5 class="card-title">Siège Bébé</h5>
                    <p class="card-text">Donnez plus de sécurité à votre enfant 3 TND/Jour.</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <!-- Add more carousel-item divs here for more items -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productsServicesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productsServicesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      