<div class="main">
    <div class="container">
        <h2 style="text-align: center;"><span style="color:rgb(255, 111, 0);">Nos Produits</span> et services</h2>

        <p>Pour vos locations de voitures en Tunisie, Rent5+NGo vous propose plusieurs produits et services adaptés à vos
            besoins.</p>
        <div class="carousel-wrapper">
            <button (click)="prev()" aria-label="Previous" class="nav-button prev-button">&lt;</button>
            <div class="carousel-content" [style.transform]="transformStyle">
                <div class="carousel-card" *ngFor="let card of cards">
                    <div class="top">
                        <img src="{{ card.image }}">
                    </div>
                    <div class="card-body">
                        <h5 style="text-decoration: underline;">{{ card.title }}</h5>
                        <h6>{{ card.describe }}</h6>
                    </div>
                </div>
            </div>
            <button (click)="next()" aria-label="Next" class="nav-button next-button">&gt;</button>
        </div>
    </div>
</div>